# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# AnandatDell (anandrajak1)
# Chiman Jain (chimanjain)
# Don Khan (donatwork)
# Harish H  (HarishH-DELL)
# Harsha Yalamanchili (harshaatdell)
# Nitesh Rewatkar (nitesh3108)
# Prabhu Revur (prabhu-dell)
# Peter Cao (P-Cao)
# Rajendra Indukuri (rajendraindukuri)
# Rajkumar Palani (rajkumar-palani)
# Shefali Malhotra (shefali-malhotra)
# Spandita Panigrahi (panigs7)
# Tao He (taohe1012)
# Trevor Dawe (tdawe)

# for all files:
* @chimanjain @taohe1012 @P-Cao @donatwork @harshaatdell @anandrajak1 @nitesh3108 @prabhu-dell @rajendraindukuri @rajkumar-palani @shefali-malhotra @panigs7 @tdawe
